[submodule "archivematica"]
	path = src/archivematica
	url = https://github.com/artefactual/archivematica
[submodule "archivematica-storage-service"]
	path = src/archivematica-storage-service
	url = https://github.com/artefactual/archivematica-storage-service
