[submodule "archivematica"]
	path = src/archivematica
	url = https://github.com/artefactual/archivematica
	branch = stable/1.7.x
[submodule "archivematica-storage-service"]
	path = src/archivematica-storage-service
	url = https://github.com/artefactual/archivematica-storage-service
	branch = stable/0.11.x
[submodule "archivematica-acceptance-tests"]
	path = src/archivematica-acceptance-tests
	url = https://github.com/artefactual-labs/archivematica-acceptance-tests
	branch = master
[submodule "src/archivematica-sampledata"]
	path = src/archivematica-sampledata
	url = https://github.com/artefactual/archivematica-sampledata
	branch = master
