[submodule "archivematica"]
	path = src/archivematica
	url = https://github.com/artefactual/archivematica
[submodule "archivematica-storage-service"]
	path = src/archivematica-storage-service
	url = https://github.com/artefactual/archivematica-storage-service
[submodule "archivematica-acceptance-tests"]
	path = src/archivematica-acceptance-tests
	url = https://github.com/artefactual-labs/archivematica-acceptance-tests
